* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(80, 80, 80);
}
#grid{
    max-width: 1200px;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    cursor: pointer;
}
.active {
    background-color: lightblue;
}
.bomb {
    background-color: red;
}
header{
    display: flex;
    justify-content: center;
}
#start{
    height: 100px;
    width: 400px;
    font-size: 40px;
    cursor: pointer;
    margin: 50px;
    background-color: rgba(0, 0, 255, 0.137);
    color: white;
}